@charset "UTF-8";

/* 回答はここに書いてね */
.box {
  margin-top: 20px;
}

.q2__style {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eff3f4;
}

.q2__thumb__is-left {
  float: left;
  margin-right: 20px;
}

.q2__thumb__is-right {
  float: right;
  margin-left: 20px;
}

.q2__thumb {
  margin-bottom: 10px;
}

.q2__text {
  line-height: 22px;
  font-size: 18px;
  word-break: break-all;
}




/* 回答はここに書いてね */
